<h1>Users</h1>
	<table class="user-table">
	<% @users.each do |user| %>
		<tr class="user">
			<td><%= gravatar_for(user, 40) %></td>
			<td><%= link_to user.name, user_path(user) %></td>
			<td><%= render 'friend_status', user: user %></td>
		</tr>
	<table>
	<% end %>

