@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	background-color: #44619D;
}

#logo {
	color: white;
	font-weight: bold;
	font-size: 2em;
}

.navbar-right {
	color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}